* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas:
    "search data"
    "basic days"
    "details days"
    "byHour days"
    "sunriseSunset days";
  gap: 20px;

  .weather-search {
    grid-area: search;
    display: flex;
    justify-content: center;
    padding: 10px;

    input {
      width: 600px;
      padding: 2px;
      border-radius: 5px;
    }
  }

  .weather-basic {
    grid-area: basic;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;

    .left {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .feels-like {
        display: flex;
        gap: 10px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .weather-details {
    grid-area: details;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    gap: 20px;

    .visibility {
      justify-self: end;
      p {
        text-transform: capitalize;
      }
    }
    .humidity {
      justify-self: end;
    }
  }
  .weather-hours {
    grid-area: byHour;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    .div-hour {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hour-icon {
        width: 100px;
      }
    }
  }

  .weather-days {
    grid-area: days;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .single-day {
      display: flex;
      align-items: center;
      width: 90%;
      justify-content: space-around;

      .single-day-left {
        .single-day-description {
          text-transform: capitalize;
        }
      }
      .single-day-right {
        display: flex;
        align-items: center;
      }
      .daily-icons {
        width: 100px;
      }
    }
  }

  .sunrise-sunset {
    grid-area: sunriseSunset;
    display: flex;
    justify-content: center;
    gap: 100px;

    .sunrise,
    .sunset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .sunrise-icon,
    .sunset-icon {
      width: 100px;
    }
  }

  .current-day {
    grid-area: data;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-img {
    width: 100px;
  }
}
