@import url("https://fonts.googleapis.com/css2?family=Krub:wght@200;300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-areas:
    "search data"
    "basic days"
    "details days"
    "byHour days"
    "sunriseSunset days"
    "footer footer";
  gap: 20px;
  position: relative;
  font-family: "Krub", sans-serif;
  font-weight: 200;

  .container {
    background: inherit;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 10px;

    &::after {
      z-index: -1;
      position: absolute;
      content: "";
      top: -10px;
      left: -10px;
      bottom: -10px;
      right: -10px;
      background: inherit;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.4);
      filter: blur(10px);
    }
  }

  .weather-search {
    grid-area: search;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 80%;
    margin: auto;

    form {
      width: 100%;

      input {
        width: 100%;
        padding: 7px 8px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.4);
        border: none;
      }
      button[type="submit"] {
        background: transparent;
        border: none;
        text-indent: -20px;
        opacity: 0.7;
      }
    }
  }

  .weather-basic {
    grid-area: basic;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .current-temp {
        .temp {
          font-size: 40px;
          font-weight: 400;
        }

        .feels-like {
          display: flex;
          gap: 10px;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .weather-details {
    grid-area: details;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;

    .details-left,
    .details-right,
    .details-middle {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .details-left {
      .pressure,
      .humidity {
        p {
          font-weight: 600;
        }
      }
    }

    .details-middle {
      .max-temp,
      .min-temp {
        p {
          font-weight: 600;
        }
      }
    }

    .details-right {
      .wind {
        p {
          font-weight: 600;
        }
      }
      .visibility {
        justify-self: end;
        p {
          text-transform: capitalize;
          font-weight: 600;
        }
      }
    }
  }
  .weather-hours {
    grid-area: byHour;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    flex-wrap: wrap;

    .div-hour {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hour-icon {
        width: 80px;
      }
    }
  }

  .weather-days {
    grid-area: days;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    .single-day {
      display: flex;
      align-items: center;
      width: 90%;
      justify-content: space-between;

      .single-day-left {
        .day-name {
          font-weight: 600;
        }
        .single-day-description {
          text-transform: capitalize;
        }
      }
      .single-day-right {
        display: flex;
        align-items: center;
      }
      .daily-icons {
        width: 100px;
      }
    }
  }

  .sunrise-sunset {
    grid-area: sunriseSunset;
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 80%;
    margin: 0 auto;
    padding: 10px;

    .sunrise,
    .sunset {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-weight: 600;
      }
    }

    .sunrise-icon,
    .sunset-icon {
      width: 80px;
    }
  }

  .current-day {
    grid-area: data;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    padding-top: 10px;

    .switch-units {
      display: flex;
      gap: 10px;
      align-items: center;
      .cel,
      .fahr {
        font-size: 22px;
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;

        input {
          opacity: 0;
          width: 0;
          height: 0;
        }
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 25px;
          width: 25px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
        input:checked + .slider {
          background-color: #2196f3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }
      }
    }
  }
  .icon-img {
    width: 100px;
  }

  footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    p {
      #name {
        color: teal;
        text-decoration: none;
      }
      a {
        i {
          color: teal;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "data"
      "search"
      "basic"
      "details"
      "byHour"
      "sunriseSunset"
      "days"
      "footer";
  }

  .weather-days {
    margin: auto;
  }
}

@media (max-width: 630px) {
  * {
    font-size: 13px;
  }

  body {
    .name-of-the-city h1 {
      font-size: 18px;
    }

    .weather-hours {
      .div-hour {
        .hour-icon {
          width: 60px;
        }
      }
    }

    .sunrise-sunset {
      .sunrise,
      .sunset {
        .sunrise-icon,
        .sunset-icon {
          width: 60px;
        }
      }
    }

    .weather-days {
      .single-day {
        .single-day-right {
          .daily-icons {
            width: 60px;
          }
        }
      }
    }

    .weather-search {
      padding: 0;
    }
    .weather-basic,
    .weather-details,
    .weather-hours,
    .weather-search,
    .sunrise-sunset,
    .weather-days {
      width: 90%;
    }
  }
}
